extends layout

block content 
    .container
        .jumbotron
            h1.display-4 Hello, #{username}!
            p.lead
                | Welcome to vidly management platform 
            hr.my-4
            p
                | Use the main menu to navigate to the management area
            a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

        .row
            .col-4
                p hello
            .col-4
                p hello
            .col-4
                p hello
            .col-4
                p hello