extends layout

block content
     .container.mt-lg-4.mt-2.mb-lg-4.mb-2
        h1.text-center=title
        .row.mb-4
            col-6.py-3.pr-lg-5
                form(action="/api/genres", method="post")
                    label.mr-3(for="name") ADD:
                    input.mr-3#exampleInput(type="text", name="name", placeholder="genre to add")
                    button.btn.btn-primary(type="submit") SUBMIT
        .row
            table.table.table-dark
                thead
                    tr
                        th(scope='col') Genres
                each genre in genres
                    tbody
                        tr
                            td=genre.name
                            td
                                form(action="/api/genres/deletebyname", method="post")
                                    input.mr-3#exampleInput.invisible(type="text", name="name", value=genre.name)
                                    button.btn.btn-primary(type="submit") REMOVE